[2019-04-04 04:28] darktrojan opened #11 "Adding tests page is missing a chunk"
The xpcshell.ini example is missing, looks like you've skipped straight to the next example. Original is still here that you can copy https://github.com/darktrojan/developer-docs/blob/master/addingTests.rst

[2019-04-10 00:29] ryanleesipes commented on #11
Added with d3f5510ca770cc2e93894434a30cd1a43e2b1e33

[2019-04-10 00:30] #11 closed

[2019-04-17 07:46] eyalroz opened #13 "Need cause for recommendation to not have install.rdf+install.js"
In the TB 68 extension update docs, it says:

This is a pretty significant statement to make: You're recommending extension authors drop compatibility with v60 and earlier when updating their extensions for 68... I really feel you should give a reason for this dis-recommendation.

[2019-04-23 23:45] darktrojan commented on #13
I wrote this.

Hopefully by now your extension that runs in version 60 is stable and with minimal maintenance required. There's a large number of _significant_ changes most extensions will need for compatibility with 68, and we all know that making changes unintentionally leads to more problems. If your version for 60 isn't broken, don't fix it.

You can have two versions with different Thunderbir

[2019-04-24 09:32] eyalroz commented on #13
@darktrojan : First of all - the place for your elaboration is the Wiki, not this issue page...

To the point, though,

Not necessarily. That is, there are a bunch of things I would like to do with the extension which are relevant to version 60 and much earlier versions. In general these could be either bug fixes, cosmetic/graphic changes or new features.

I don't understand that paragraph. There

[2019-04-24 09:40] mkmelin commented on #13
You probably aren't doing your users any service by that. What's the point? Update, and you get the new functionality - like any other software. Instead you'd be risking that the functionality is broken in one of the versions. Up to you of course, but clearly nothing I'd recommend. You're talking about maybe two-three months of overlap before EOL anyway.

Agreed we should add the explanation to th

[2019-04-24 09:55] jobisoft commented on #13
@eyalroz : No one is forcing you to follow Geoffs suggestion. If you have the time and the resources to go the extra mile and update your addon so that it stays backward compatible (that also involves testing it on older TB versions) you are free to do so.

Myself, I decided to not do that, so the current version of my add-on on ATN is only compatible with TB60 and as soon as TB68 beta is out, I w

[2019-04-24 09:56] eyalroz commented on #13
Update _the extension_, not Thunderbird. I don't control which version of Thunderbird people use. Some work on older systems / older distributions.

On the contrary. Most application software, which is not intended for a build from source, makes an effort to be compatible not only with the latest and greatest operating system being used, but rather compatible much farther back - as much as is reas

[2019-04-24 10:18] mkmelin commented on #13
Windows has its own set of baggage out of necessity. But it's hardly fruitful to compare applications to operating systems.

There is no valid reason for someone to stay on an older release (beyond the 2-3m) - and that is indeed unsupported and very much discouraged.

[2019-04-24 11:43] eyalroz commented on #13
I was comparing extensions to applications, not apps to OSes.

It doesn't matter wheter you (or even me) believe the reasons to be "valid" or not. It's just a reality that a lot of users use older versions. At any rate, we don't even have to take the discussion to these extremes. Version 31.0 is not even 6 years old. That's still pretty new. So assume I just want to support relatively-new versions

[2019-04-24 11:53] mkmelin commented on #13
Version 52 is around 3% of users now (and other versions even less). It's a myth that "a lot" of users use older versions.

[2019-04-25 09:02] jobisoft commented on #13
How about changing the alert box a bit?  Currently it states:

How about:

[2019-04-25 09:08] eyalroz commented on #13
@jobisoft : This is a good practical suggestion. That is, without the authors changing their position on this matter, it clarifies things lets the reader make up their own mind.

[2019-04-25 19:32] cleidigh commented on #13
@jobisoft
I like this also.  I think strikes the appropriate tone.  We can use Thunderstorm as a clearinghouse for the type of information we don't want to mainstream it will be relegated to those developers intent on dual support and not confuse others.

[2019-04-26 16:45] ryanleesipes commented on #13
@jobisoft I think your proposed language here is good!

[2019-04-28 01:03] ryanleesipes commented on #13
This has been adjusted with: https://github.com/thundernest/developer-docs/commit/84c1c3bd6788bc35fdf8f2c87bc0a6d2a22d5689

Closing issue.

[2019-04-28 01:03] #13 closed

[2019-04-29 11:59] opto opened #17 "content listing on right side of page does not have scroll bar"
this page: https://developer.thunderbird.net/add-ons/upgrading-add-ons-for-tb68/list-of-changes-in-thunderbird-core#changed-api    has a list of contents on the right side. It is truncated on a small screen ( 10 in) and there is no scroll bar.

[2019-04-29 12:05] jobisoft commented on #17
Can you file a bug on gitbook about this?

[2019-04-29 12:53] opto opened #18 "change in addon code required since 60.6.1, not since 67, please correct"
importing js:
var { Foo } = Cu.import("resource://foo/modules/Foo.jsm", null);

this is now necessary already in 60.6.1. Documentation says it was added in TB 67

[2019-04-29 12:56] opto commented on #17
I am willing, but how/where/how to get login

[2019-04-29 13:06] opto commented on #18
see pull request

[2019-04-29 19:48] jobisoft commented on #17
https://docs.gitbook.com/faq#how-can-i-report-bugs

Thanks.

[2019-04-29 19:55] jobisoft commented on #18
I cannot confirm this. The old syntax is still working with 60.6.1, for XUL overlay addons as well as for bootstrapped addons.

I have not tried, if the new syntax works in TB 60.6.1, but that would be beyond the guide anyhow, as we are only documenting what is breaking in TB68 and must be changed.

Maybe you see some other issue?

[2019-05-28 20:55] kewisch opened #22 "Put a banner at the top of the mq page recommending bookmarks"
https://developer.thunderbird.net/contributing/fixing-a-bug/using-mercurial-queues describes using mq. For various reasons the current recommendation is to use bookmarks, so for people who don't know either I think we should be recommending bookmarks. I think we should:

* Make bookmarks the first link in that section
* Put a banner on the mq page saying that developers should prefer bookmarks.

[2019-05-28 20:55] kewisch commented on #22
https://www.mercurial-scm.org/wiki/MqExtension#A_word_of_warning_for_new_users

[2019-05-28 20:57] Alecaddd commented on #22
Yes, that's a really good point. Thanks for opening this issue.
I agree with both actions you recommended.

If you want, I can take care of this later today, if you don't already have a PR for it.
Cheers.

[2019-05-28 21:01] kewisch opened #23 "Add some bookmarks hg config to the bookmarks page"
There are a few things that will make working with bookmarks better:
* the hg evolve extension, despite it being experimental
* colors
* the [hg wip](http://jordi.inversethought.com/blog/customising-mercurial-like-a-pro/) command, which is defined through hgrc

I'd suggest we either link to or provide a .hgrc that includes some of the features Thunderbird developers commonly work with and make som

[2019-06-06 14:46] amineallani opened #26 "manifest.json not parsed correctly"
I have developed a bootstrap add-on which was previously working on thunderbird v60. In order to make it compatible with the new thunderbird version ( currently testing on 67 beta ), i stared by changing the install.rdf file ( which was working fine on version 60 ) to a manifest.json file.

My manifest.json looks like the following:
[code]
However, when i try to install the extension (add-ons -->

[2019-06-06 15:00] jobisoft commented on #26
That part of the guide was written for Thundebird 68. TB67 (the current Beta) indeed does not yet support the type attribute.

Until a Beta for Thunderbird 68 is out, you can use the latest Nightly Build for TB68 to test your changes:
https://developer.thunderbird.net/add-ons/tb68#testing-thunderbird-68
However that has its UI broken.

We are all waiting for the Beta 68 :-)

[2019-06-06 15:04] jobisoft commented on #26
@ryanleesipes: This issue could be a reason to postpone the general email to all add-on devs.
If there is no official TB68 release, they cannot test their changes.

[2019-06-06 15:12] amineallani commented on #26
@jobisoft Thank you for your reply. I guess it makes more sense then to wait for 68.

[2019-06-06 15:12] #26 closed

[2019-06-13 18:08] jobisoft commented on #26
I just learned, that we have beta candidates now:
http://ftp.mozilla.org/pub/thunderbird/candidates/68.0b1-candidates/

I updated the documentation as well.

[2019-06-14 05:13] kewisch commented on #26
Note the candidates shouldn't be widely advertised. The impatient can download them, but others should get the real thing.

[2019-06-14 05:24] jobisoft commented on #26
I remove the link, if you say so. But the current situation is "not good" we cannot update our addons and test it, because we do not have a valid target. Many things needed for TB68 break TB67.

Before I linked the candidates (which is working good) I linked to the last TB68 daily and I think going back to that is making things worse.

What is your final call?

[2019-06-14 05:30] kewisch commented on #26
We just need to get better at building betas. If Wayne and Jörg are fairly certain this will be the final then I guess it is ok. Best double check that the candidates will auto-update to the real beta, otherwise folks will be stuck on the candidate until the next beta

[2019-06-14 05:35] jobisoft commented on #26
On maildev list Jörg said:

So we should be good?

[2019-06-14 06:36] kewisch commented on #26
Best clarify what "next" means. My understanding is they have the version number 68.0b1, so the version check will only update to 68.0b2, not a new 68.0b1 candidate.

[2019-06-14 07:39] jobisoft commented on #26
I thinkl I will not get closer to "I think so" :-)

I added a big info box to the doc.
https://developer.thunderbird.net/add-ons/tb68#testing-thunderbird-68

[2019-06-14 11:46] clokep commented on #26
These betas should be released "soon", I'd recommend not being impatient here and letting the process do it's job.

[2019-06-17 11:32] jobisoft commented on #26
@amineallani : I do not know if you have seen it, but the beta is out and you can actually test you add-on now against an official version. Happy testing :-)

[2019-06-22 21:02] #18 closed

[2019-06-25 08:44] opto opened #28 "Xul conversion: most (not all!!) overlays have been removed"
Xul conversion document:

It States that overlays in TB have been removd and recommends to use Messenger.xul.
That Statement is not quite correct.
For example searchdialog.xul still exists in 68b1.
So Maybe state *most* overlays have been removed.
I would have saved me a few hours of wonderment and Code analysis.
Thanks Klaus

[2019-06-25 08:55] mkmelin commented on #28
No, all overlays have been removed. Their names may not have been changed, but the whole overlay mechanism that used to be part of XUL was removed, and the old overlays now usually just build-time included.

[2019-06-25 08:55] #28 closed

[2019-06-25 09:44] jobisoft commented on #28
@opto: What I wanted to point out in the guide was, that TB no longer overlays "itself". We had a couple of places where elements of Thunderbird (like the address book) that included XUL files that overlayed some other Thunderbird (XUL-) files. These overlays are all gone now and the stuff that was added via overlay is now just part of the "root" (XUL-) file ("root" as in root of the old overlay-c

[2019-06-25 14:11] opto commented on #28
For an Addon author, it is not really relevant whether TB internally still uses overlays.
But Thanks for the clarification.

To a non native speaker the Statement may imply that there are now no other xul files than Messenger.xul that I might have to overlay.
But there is, for example, searchdialog.xul.  There may be others.
So the path for conversion might be:
Create the json. Check whether it wo

[2019-07-01 17:53] Alecaddd opened #31 "Add new NotificationBox documentation"
We need to update the docs in order to reflect the new `NotificationBox` implementation based on the abstract class available from toolkit.

An initial reference is here: https://thunderbird.topicbox.com/groups/addons/T321f9b5d0964e424-Ma3ec42bc020def36c8745dd0

[2019-07-01 18:28] jobisoft commented on #31
I have this scheduled for tomorrow.

[2019-07-05 11:19] jobisoft commented on #31
@Alecaddd : Could you have a look at
https://developer.thunderbird.net/add-ons/tb68/changes#less-than-notificationbox-greater-than

What happens, if the addon author wants to add a notification to a window, that does not have a notification box?

[2019-07-05 22:23] Alecaddd commented on #31
Great, thanks for taking care of this.
Notifications can be added almost anywhere as far as there's a container with an `ID` to use as a target.

Eg.
[code]

At that point, the developer can use `myNotification.notificationbox` to append his own notifications.

[2019-07-06 08:53] jobisoft commented on #31
Wow! Would it then be the better "update strategy" to just rename the <notificationbox> to <hbox> in my code and do the above in JS? This way I do not have to search for the correct box?

Or should authors use the default notification box of messenger and composer? And the above is just for custom dialogs?

[2019-07-06 09:39] RealRaven2000 commented on #31
I knew that something like this should be possible - that JavaScript is something an average Add-on author would not be able to come up with so we definitely should add this to the documentation. I will try this out on my Add-on quickFilters where I currently show a notification panel in the filters dialog. The old overlay contained:

[code]

and this was the main js code for displaying the notifi

[2019-07-08 19:24] Alecaddd commented on #31
@jobisoft, it really depends on the situation, but using built-in notification ensures visual consistency and style.

[2019-07-08 19:31] Alecaddd commented on #31
@RealRaven2000 Indeed, documenting this approach would be very useful for add-on developers.
It's a pretty easy implementation that depends on importing the `XPCOMUtils` object

[2019-07-23 21:43] Alecaddd opened #34 "[Code Example] How to add a custom toolbar button"
Create a small tutorial with some snippets on how to generate and add a custom `toolbarbutton` to our main Toolbar.

This example is useful to showcase how a developer can generate custom elements to dynamically load and append in the Thunderbird UI.

[2019-07-23 21:44] Alecaddd opened #35 "[Code Example] Add menu item in new App Menu"
The new App Menu is part of daily now, so we should consider writing down a small tutorial on how to generate and append custom `menuitems` inside the various sections, and how to create sliding subsections.

[2019-08-12 09:40] jobisoft commented on #31
I am sorry, I forgot about this one. I added it to the documentation.

[2019-08-12 09:40] #31 closed

[2019-08-13 20:19] ryanleesipes opened #36 "Wishlist for Developer Docs"
In [Bug 1513652](https://bugzilla.mozilla.org/show_bug.cgi?id=1513652) on Bugzilla, Ben laid out what he would like to see documented in the docs. Below is what he said.

[2019-08-13 20:38] Alecaddd commented on #36
I'd like to propose the addition of:

1. A **Review** section, as pretty much every day I discover new "must-do" in the review workflow. (eg. review coding style, check for missing new lines at the end of files, review commit message and format, etc.)
2. **Handle a r+ Patch" to list all the actions a developer must do after one of his patches gets a positive review (eg. push a try run, update the

[2019-08-14 16:36] ryanleesipes commented on #36
Here are [Khushil's recommendations](https://bugzilla.mozilla.org/show_bug.cgi?id=1513652#c4) as well:

[code]

[2019-08-14 16:39] Alecaddd commented on #36
I'd recommend starting a WIP PR with checkboxes representing all  the suggestions and changes we want to apply, in order to have an easier and more organized way to track this list.

[2019-09-04 17:22] Alecaddd opened #39 "Add Linting section"
We should add a section dedicated to the Linting of the code before pushing a patch, listing the commands and some formatting example.

Since we're adopting Prettier we should also list all the available extensions for the most commonly used code editors and IDEs.

[2019-09-05 15:50] Alecaddd opened #40 "SVG and Iconography guidelines for Add-ons"
We should implement an "Iconography" section in the Add-ons category to help add-ons developers properly create or select images and SVGs for their add-ons.

These are the areas we should highlight:
* Create SVGs for toolbar buttons
* HiDPI PNGs
* Recommended software for image creation

I'll create a PR with this section later next week.

[2019-09-06 18:12] Alecaddd commented on #39
Hey @PaulMorris, if you have time or any capacity later next week, it would be awesome if you could take care of this.
I think that you might be the best person to handle it.
No rush, and a very low low priority on this.

[2019-09-09 15:49] PaulMorris commented on #39
Hey @Alecaddd , yeah, I can try to get to this this week.

[2019-09-20 20:42] PaulMorris commented on #39
Here's a PR I opened for this issue: https://github.com/thundernest/developer-docs/pull/44

[2019-09-20 21:48] Alecaddd commented on #39
Sweet.
You can add "Fixes #39" in the commit message of your PR to automatically close this issue once it gets merged.
Not a big deal anyway

[2019-09-27 07:31] CardBook commented on #40
any news on this ? (I'm very interested for creating a new icon for CardBook ;O)

[2019-10-03 20:20] Alecaddd commented on #40
@CardBook I'm working on it, sorry for the lack of updates but I've been super buys with core issues.

[2019-10-03 20:20] Alecaddd opened #48 "Add de-XBL info and resources"

[2019-10-03 20:56] eyalroz commented on #48
about [the first link](https://developer.thunderbird.net/add-ons/updates/tb68#removed-xbl-bindings) - the text is not always 100% clear when it comes to code which needs to work both with the latest and not-absolutely-latest version. For example:

Is this safe to do in TB 68? TB 60? I'm guessing yes, but I'm not sure.

[2019-10-03 21:13] PaulMorris commented on #48
Here are some notes I made about doing de-xbl work in the Thunderbird code base.
https://wiki.mozilla.org/Thunderbird/de-xbl
It's more a list of reminders to myself of things that might need to be done rather than an explanation of how to do them.  And some of it may not be applicable for add-ons, but I thought I'd mention it in case it is helpful.

[2019-10-03 21:38] Alecaddd commented on #48
@eyalroz that's an XUL question, this topic is specifically for XBL.
For what I know, if these changes are listed in the TB 61-68 section, it probably means are not compatible for TB 60. But don't quote me on that as I'm not 100%.

@PaulMorris Sweet, thanks for sharing. If it's OK with you I'll brutally steal it and add it to the docs.

[2019-10-03 21:45] #39 closed

[2019-10-03 21:48] Alecaddd commented on #17
This seems to be fixed for me.
@opto do you still see the problem?

[2019-10-08 22:50] Alecaddd opened #50 "Add <textbox> to <html:input> conversion quick guide."
Now that daily is free of `<textbox>` elements, it might be helpful to write down a quick HOW-TO guide for add-on developers who might need to do the same.

Here's everything I learned while working on this:

- Add `aria-labelledby="labelID"` to the `html:input` for accessibility.
- All the proper styles and classes should come from the `input-fields.css`, most likely all the various cases should

[2019-11-07 23:09] jobisoft commented on #50
If you want, you can assign that to me and I will take care of this next week.

[2019-11-08 02:17] Alecaddd commented on #50
@jobisoft that'd be sweet, thank you so much.

[2019-11-11 23:20] ryanleesipes commented on #17
It looks like this has been fixed, but it is also an issue with the platform we are using and not something we can directly change. Marking this closed.

[2019-11-11 23:20] #17 closed

[2019-11-11 23:23] ryanleesipes commented on #48
Was this info added in some form @Alecaddd?

[2019-11-11 23:33] Alecaddd commented on #48
Not yet, sorry, it slipped between the cracks of hundred bugs :sweat_smile:

[2019-11-11 23:44] ryanleesipes commented on #36
Hey @Alecaddd I have moved many of these things to the [Projects](https://github.com/thundernest/developer-docs/projects) tab. I'm not opposed to a WIP PR with this stuff, but I'll need to catch up with you to understand why that would better versus some other approach. In the meantime if anyone wants to help me decide what has been done vs what needs to be done vs what can be thrown away in the p

[2019-11-12 21:00] jobisoft commented on #48
I added the link and made it more visible:
https://developer.thunderbird.net/add-ons/tb68/changes#removed-xbl-bindings

Is that ok? I also started to use (↗) as a hint for external links, as the used css does not provide good visibility of external links. The big full width link box no longer works with external links :-(

[2019-11-12 21:39] ryanleesipes commented on #35
I have updated the tutorial. An additional tutorial could do more complicated things. There is now an "Examples" section in the docs. We should fill that up.

[2019-11-12 21:42] Alecaddd commented on #35
Great stuff, this can be closed.

[2019-11-12 21:42] #35 closed

[2019-11-16 16:24] eyalroz opened #54 "The TB 53-60 changes description should be more easily accessible"
On this part of the site:

https://developer.thunderbird.net/add-ons/about-add-ons

we should, IMHO, have not just a section with the information about changes in versions 61-68, but also a similar section with the information regarding changes in versions 53-60, which currently appears here:

https://wiki.mozilla.org/Thunderbird/Add-ons_Guide_57

[2019-11-17 19:49] Alecaddd commented on #48
Thanks for adding these info.
I don't think it's necessary to use that extra symbol for external links, it's odd and is not used anywhere else.

[2019-11-17 19:51] jobisoft commented on #48
Do you have an idea how to highlight links inside the text? The CSS from gitbook does not give much visibility and they can be overseen easily.

[2019-11-28 16:32] jobisoft commented on #50
Sorry that it took so long:
https://developer.thunderbird.net/add-ons/tb78/changes#less-than-textbox-greater-than

I still need help with `aria-labelledby=".."`. Was that a supported parameter of the `textbox `and we can simply use it with `html:input` as well?

[2019-11-28 18:11] Alecaddd commented on #50
The `textbox` didn't need that because the `label control="textboxID"` was taking care of applying the label name to the textbox field for accessibility purpose.
The simple `html:input` field doesn't inherit the label name from the `control` attribute, so it needs the `aria-labelledby` to reference the label ID.

[2019-12-02 17:30] mkmelin commented on #50
Looks like the bug to make the a11y association automatic is now fixed. https://bugzilla.mozilla.org/show_bug.cgi?id=1572677

[2019-12-02 18:15] jobisoft commented on #50
@mkmelin : That means control values of labels are now enough and we do not need the aria-labelledby anymore?

[2019-12-02 19:06] mkmelin commented on #50
I think so. We might want to get it verified.

[2019-12-03 09:54] mkmelin commented on #50
Asked in the bug, and we indeed do not need it anymore.

[2019-12-03 10:04] jobisoft commented on #50
Thanks, than I have all the needed parts on DTN.

[2019-12-03 10:04] #50 closed

[2020-01-14 03:35] camporter opened #58 "Blog header link different from main site"
Really minor, but the developer docs have https://blog.mozilla.org/thunderbird whereas thunderbird.net has https://blog.thunderbird.net/

[2020-01-14 07:16] jobisoft commented on #58
That is not in the source files but in some gitbook config? Ryan, can you help?

[2020-01-22 17:47] ryanleesipes commented on #58
They both direct to the same place. But I have updated the link to blog.thunderbird.net, thank you for bringing that to my attention @camporter - it is good just so that in case the redirect is ever shut off everything keeps working!

[2020-01-22 17:47] #58 closed

[2020-01-22 17:48] ryanleesipes commented on #48
@jobisoft did you have any luck figuring this out?

[2020-01-22 23:22] jobisoft commented on #48
Sadly no, are you facing the same issue? Do you have another idea instead of the little arrow I use? Do you (as the main admin) have access to some hidden CSS options?

I just realized that @Alecaddd suggested to remove the arrow, so if you have somthing else :-)

[2020-01-29 17:05] PaulMorris opened #59 "Update docs to reflect removal of legacy add-on support"
Now that calendar is close to being integrated into TB (https://bugzilla.mozilla.org/show_bug.cgi?id=1608610), it is my understanding that support for legacy extensions will be going away soon after, possibly as soon as the next TB beta that will be released after the Firefox 73 merge on Feb 10 (https://wiki.mozilla.org/Release_Management/Calendar).  The docs should help add-on devs understand and

[2020-01-29 23:23] clokep commented on #59
@PaulMorris We should probably make sure to announce this on the appropriate mailing lists too!

[2020-01-29 23:47] jobisoft commented on #59
I started to work on a re-ordering of the addons section a couple of weeks back, but it was too much for me. The draft is still in gitbook but I think no longer merge-able, as so much has changed in between.

I do believe, that we should seperate core dev and addon dev more obviously as it is done now. So if you start to shift things around, maybe have that in mind as well?

[2020-02-01 02:53] PaulMorris commented on #59
@clokep Good call.  I have just sent an email to tb-planning and the TB addons lists.
@jobisoft Is there somewhere I can see your draft work on a re-ordering?  I'd like to at least see where you were going with it, in case I find time to work on this.

[2020-02-01 07:27] jobisoft commented on #59
@PaulMorris : You need to log into gitbook. Ryan can give you access if you do not have that.

![grafik](https://user-images.githubusercontent.com/5830621/73588706-9ca07500-44cc-11ea-973b-a15bb724a463.png)

In the top left you should see my draft under "edits".

[2020-02-01 07:29] jobisoft commented on #59
@PaulMorris : My main idea was to have only two main sections (core and addon). I do not think it is mergeable, as so much changed in the core section and i do not know if gitbook can cope with those when I moved everything around.

[2020-02-01 07:30] jobisoft commented on #59
@PaulMorris : My draft is actually loaded in the screenshoot above, so you can see my concept there already.

[2020-02-12 16:56] PaulMorris opened #61 "Improve docs for try server with non-tip mozilla-central changeset"
Yesterday comm-central was busted when I did a try server run (which failed due to the bustage).  I followed the docs to redo the try run with a mozilla-central changeset that was earlier than the one that busted comm-central.  The docs could be improved for this use case.

The relevant docs are [here](https://developer.thunderbird.net/contributing/fixing-a-bug/try-server#testing-mozilla-central-p

[2020-02-12 20:33] PaulMorris commented on #59
Thanks @jobisoft , that's helpful.  I'm going to work on this now.  Probably won't get into the re-arranging, just the updates to the addons info.

[2020-04-04 16:24] opto opened #65 "do we have this info on webextensions?"
https://dev.to/christiankaindl/a-webextension-guide-36ag

[2020-04-11 00:30] Alecaddd opened #68 "Migrate the Chat Core section from MDN"
We should migrate the Chat Core section from MDN, and all its subsections, to DTN.
https://developer.mozilla.org/en-US/docs/Mozilla/Chat_Core

[2020-04-21 13:41] kaie opened #70 "remove IRC, instead mention Matrix"
For example, https://developer.thunderbird.net/thunderbird-development/fixing-a-bug/landing-a-patch#pushing-to-try mentions "IRC (#maildev)". This, and possibly other places, should mention "Matrix chat (#maildev:mozilla.org)" instead.

[2020-05-28 17:42] dannycolin opened #74 "Add a top-level menu item for MailExtension API"
**Step to Reproduce**

0. Open tps://developer.thunderbird.net/
1. Go to Resources and Additional Documentation
2. Click on MailExtension URL in the table (it opens a new tab that goes to https://thunderbird-webextensions.readthedocs.io/en/68/)
3. Click on the "latest version" URL in the note block

**Actual Behavior**

It  takes a lot of clicks to finally get to the MailExtension API documentatio

[2020-06-08 21:26] PaulMorris opened #78 "Images not visible on developer.thunderbird.net"
Images on these pages are not visible for me.
https://developer.thunderbird.net/thunderbird-development/hello-world
https://developer.thunderbird.net/thunderbird-development/building-thunderbird/artifact-builds
The Thunderbird logo is also not visible in the site header.  Instead of the images I see a "missing image" placeholder.  The console reports CORS issues like this:
[code]

[2020-06-08 21:36] PaulMorris commented on #78
Well, it works for me on chromium, but not on firefox.  Two others reported that it works fine for them.  So it may just be something weird with my firefox.

[2020-06-08 21:38] Sancus commented on #78
I'd double check with add-ons disabled as a start. Other than that, not totally sure what could be interfering with this.

[2020-06-16 18:14] #74 closed

[2020-06-16 18:32] jobisoft commented on #70
Done on all places I could find.

[2020-06-16 18:32] #70 closed

[2020-07-18 14:07] TimmyvdBerg opened #84 "click haha"

[2020-07-18 14:07] #84 closed

[2020-07-29 10:26] eyalroz opened #85 "Link to documentation for parseXULToFragment() is dead"
[Here](https://github.com/thundernest/developer-docs/blob/master/add-ons/updating/tb78/changes.md) we have the following link: [parseXULToFragment()](https://github.com/cleidigh/ThunderStorm/blob/master/examples/MailExtensions/WindowListener/content/messenger.js#L22-L31). But - this link is dead.

[2020-08-03 11:43] eyalroz opened #86 "Do we still QI windows to nsIMsgWindow?"
On [this page](https://github.com/thundernest/developer-docs/blob/master/add-ons/updating/tb78/changes.md), it says:

but what about other interfaces? e.g. nsIMsgWindow? Do we still need to QI for that? This should be clarified.

[2020-08-03 11:57] jobisoft commented on #86
I disagree. It is a list of affected interfaces. We do not have to list all the interfaces which do not require this.

[2020-08-03 12:08] jobisoft commented on #86
But it could of course be, that we missed an interface. If you find one, than we will of course add it to the list.

[2020-08-03 12:49] eyalroz commented on #86
Indeed, but it's not clear that you haven't. The distinction between "no need to QI at all" and "some of the interfaces don't need QIing anymore, the rest do" is not clear enough.

[2020-08-07 22:02] eyalroz opened #87 "TB 78 changes page should (?) suggest explicitly adding drop-markers to menubuttons"
JaneK recently wrote:

[2020-08-10 19:35] jobisoft commented on #86
In ESR60 and ESR68 I did not find any usage of QI(nsIMsgWindow):

https://searchfox.org/comm-esr68/search?q=QueryInterface\(.*nsIMsgWindow&path=&case=false&regexp=true

but a lot of QI(nsIDOMWindow) (so the query works):

https://searchfox.org/comm-esr68/search?q=QueryInterface\(.*nsIDOMWindow&path=&case=false&regexp=true

I tend to close this as irrelevant. If you can, please provide a code fragm

[2020-08-10 19:43] jobisoft commented on #59
We forgot to close this. DTN has been updated.

[2020-08-10 19:43] #59 closed

[2020-08-10 19:44] eyalroz commented on #86
I just suggested a phrasing tweak. But - ok.

[2020-08-10 19:44] #86 closed

[2020-08-10 20:08] jobisoft commented on #85
updated

[2020-08-10 20:08] #85 closed

[2020-08-11 21:07] eyalroz opened #88 "TB Changes pages should mention Services.prompt.select"
The `Services.prompt.select()` function now takes one argument less: no longer is it an array length followed by the array - now it's just the array (and it determines the length itself). I'm sure you can find an appropriate example...

[2020-08-11 21:35] jobisoft commented on #88
Done. Thanks for reporting this.

[2020-08-11 21:35] #88 closed

[2020-08-11 21:51] eyalroz opened #89 "In Thunderbird 71+, the message subject doesn't have an .inputField member"

[2020-08-11 21:51] eyalroz commented on #89
Whoops, wrong browser tab :-(

[2020-08-11 21:51] #89 closed

[2020-09-01 21:41] eyalroz opened #92 "TB 68->78 changes page should mention removal of nsIEditorStyleSheets"
The [removal of nsIEditorStyleSheets](https://bugzilla.mozilla.org/show_bug.cgi?id=1449522) necessitates the following changes:

* `addOverrideStyleSheet(uri)` -> `windowUtils.loadSheetUsingURIString(uri, windowUtils.AGENT_SHEET)`
* `removeOverrideStyleSheet(uri)` -> `windowUtils.removeSheet(uri, windowUtils.AGENT_SHEET)`
* `enableStyleSheet(uri, enable)` -> `(enable ? windowUtils.loadStyleSheetUs

[2020-09-01 21:52] jobisoft commented on #92
Thanks for working this out!

[2020-09-01 21:58] jobisoft commented on #87
The dropmarker does not need to be added manually. I think we solved this with the custom element, didn't we?

[2020-09-01 21:59] eyalroz commented on #92
@jobisoft : I do believe you're the one who figured it out... :-)

[2020-09-01 22:58] eyalroz commented on #87
Yes, and without specifying a dropmarker. So closing.

[2020-09-01 22:58] #87 closed

[2020-09-04 15:14] jobisoft opened #93 "add section about phabricator"
./mach install-moz-phab

is needed to install phabricator.

[2020-09-05 21:31] eyalroz opened #94 "TB 68 -> 78 page should discuss removal of document.getAnonymousElementByAttribute()"
An important API function removed over the past year is [`document.getAnonymousElementByAttribute()`](https://developer.mozilla.org/en-US/docs/Archive/Mozilla/XBL/XBL_1.0_Reference/DOM_Interfaces).

See: https://bugzilla.mozilla.org/show_bug.cgi?id=1591145

The TB 68->78 [changes pages](https://developer.thunderbird.net/add-ons/updating/tb78/changes) should discuss this and suggest an alternative.

[2020-09-06 01:37] justdave opened #95 "Artifacts Build page introduces the Try Server without it having been explained yet"
https://developer.thunderbird.net/thunderbird-development/building-thunderbird/artifact-builds#artifact-builds-on-the-try-server

This is the first mention of the try server in the developer docs if you're reading them in order, and it's written as if you already know what the try server is.  It should either explain it here, or provide a link to where it does get explained.

Poking around a bit,

[2020-09-06 06:01] justdave opened #99 "Try server docs don't tell you how to find your results"
https://developer.thunderbird.net/thunderbird-development/fixing-a-bug/try-server

The closest I could find on here was "it works pretty similar to Firefox's try server" and links to their docs.  But the "how to view your results" on the Firefox Try docs only links the Firefox try server and ftp.

Should add a Thunderbird-specific how to view the results.
Treeherder: https://treeherder.mozilla.org

[2020-09-06 06:05] justdave commented on #99
I've found a few sources claiming it should be at https://ftp.mozilla.org/pub/thunderbird/try-builds/ but that directory doesn't seem to exist.

[2020-09-07 06:16] jobisoft commented on #94
That is part of the XBL removal which was done in TB68. This is currently above my head. What did you use it for?

[2020-09-07 06:17] jobisoft commented on #92
done.

[2020-09-07 06:17] #92 closed

[2020-09-07 06:24] eyalroz commented on #94
It was part of this piece of code which tried several ways of getting the message subject, each of which worked with different versions of TB or SM. The removal happened in TB 72 according to the bug page.

[2020-09-07 06:24] jobisoft commented on #94
This document which is linked in the TB68 guide has some info about this:
https://wiki.mozilla.org/Thunderbird/de-xbl

Is that sufficient?

[2020-09-07 06:28] eyalroz commented on #94
@jobisoft :

1. No, because extension authors don't use that method only for their own XBL elements. They may think of it as merely another DOM search utility.
2. Because this removal _is_ a 68->78 change.
3. Because, glancing at that document, it's not at all clear that this is a change to notice. The TB 68->78 changes page has a nice header with each removed API.

[2020-09-07 06:30] jobisoft commented on #94
Which code? Cabn you link?

[2020-09-07 06:32] jobisoft commented on #94
I am not saying you are wrong. But it appears the removed function in TB72 was already "dead code" (always returned null pointer) so the functionality stopped long ago. With TB72 it would throw now that an unknown function has been used.

This is obviously a function related to XBL.

[2020-09-07 06:33] eyalroz commented on #94
@jobisoft : [this](https://github.com/eyalroz/bidimailui/blob/master/src/chrome/content/bidimailpack/bidimailpack-messenger.js#L135). It was already failing in what it was trying to do in v68, but it didn't throw an exception. Also, it _was_ necessary/useful in earlier versions.

[2020-09-07 06:36] jobisoft commented on #94
So my assumption is true :-)

Woohoo: A lot of add-ons are still using that:
https://github.com/search?q=getAnonymousElementByAttribute++path:/xall/x68+repo%3Acleidigh%2FThunderKdB&type=Code

So what did you use it for? Why not just use getElementById or something?

[2020-09-07 06:44] eyalroz commented on #94
The field with the text used to be an anonymous element within the XBL subject box. So, I couldn't get it byId().

[2020-09-10 06:38] mkmelin commented on #99
I don't think they get put on FTP. A try build can be downloaded by clicking on the treeherder B of that build, and then in the Artifacts section down below, find something like target.tar.bz2 (for linux)

[2020-09-16 14:57] #95 closed

[2020-09-16 15:52] jobisoft commented on #94
https://developer.thunderbird.net/add-ons/updating/tb78/changes#getanonymouselementbyattribute-and-getanonymousnodes-have-been-removed

I do not think there is more to say, is there?

[2020-09-16 19:25] eyalroz commented on #94
Well:

1. If this stopped working in TB 68, perhaps there needs to be a note about these in the TB 68 document.
2. The links you added are to the German version of the documentation.

[2020-09-16 19:34] jobisoft commented on #94
1. I think it is, isn't it? There is a section about [Removed XBL bindings](https://developer.thunderbird.net/add-ons/updating/tb68/changes#removed-xbl-bindings) and there is a [linked document](https://wiki.mozilla.org/Thunderbird/de-xbl) which includes the removal/replacement of getAnonymousElementByAttribute

2. Thanks! That happens way to often. Fixed.

[2020-09-16 20:04] eyalroz commented on #94
But there is nothing inherently XBL'ish about a method named `getAnonymousElementByAttribute()`. When I was updating my extensions for TB 68 it didn't occur to me that to follow that link, since I as far as I was concerned, I wasn't using any XBL.

[2020-09-16 20:09] mkmelin commented on #94
Maybe it's not apparent, but the whole concept of anonymous content is (was) XBL only.

[2020-09-16 20:17] jobisoft commented on #94
Hm, the very first google search result of "MDN getAnonymousElementByAttribute()" returns:

https://developer.mozilla.org/en-US/docs/Archive/Mozilla/XBL/XBL_1.0_Reference/DOM_Interfaces

which tells you this method belongs to the XBL stuff. I hesitate to duplicate the information ...

[2020-09-16 20:22] eyalroz commented on #94
There's no problem with a bit of duplication between the 78-changes page and other pages which describe these changes in a different context.  But it's your call I guess.

[2020-09-16 20:29] jobisoft commented on #94
We are talking about duplication inside the TB68 add-on guide. I did add the info to the TB78 guide, as it throws errors now.

Let me sleep over this. I probably extend the info box in the TB68 guide.

[2020-09-21 18:21] jobisoft commented on #94
https://developer.thunderbird.net/add-ons/updating/tb68/changes#removed-xbl-bindings

[2020-09-21 19:08] eyalroz commented on #94
I can live with that.

[2020-09-21 19:08] #94 closed

[2020-09-23 15:52] PaulMorris commented on #78
I think we can close this.  I haven't noticed it recently.

[2020-09-23 15:52] #78 closed

[2021-01-07 10:01] jobisoft opened #106 "Allow the Thunderbird Team to take over accounts if add-on has been abandoned and new version of another contributor is available."
We have seen this to be a major issue with forks being created and users manually have to switch. The new policies should open up a way to define "abandoned" and let us re-assign an owner.

[2021-01-07 10:03] jobisoft opened #107 "Limit the appversions available to reduce reviewer burden"
@jorgk3 suggested to limit the Thunderbird versions add-ons would be compatible with to reduce the reviewer burden.

Note: This issue was originally created in the atn-review-policy repository.
https://github.com/thundernest/atn-review-policy/issues/5

[2021-03-08 10:57] freaktechnik opened #108 "Ccache guide"
I don't think the link at https://github.com/thundernest/developer-docs/blob/master/thunderbird-development/building-thunderbird/README.md#make-your-build-faster really provides any insight on how to set up ccache. I also think it's now recommended to use [sccace](https://github.com/mozilla/sccache) for Firefox, not sure if that also applies to TB.

[2021-06-15 15:29] tiziodcaio opened #116 "Move to vuepress"
https://vuepress.github.io

[2021-06-15 17:41] Alecaddd commented on #116
Please,a void opening issues without any explanation, proper examples, or in this case, a valid a concrete reason for adopting vuepress.

Closing this issue as it's invalid and not useful.
We can reopen it later if necessary.

[2021-06-15 17:41] #116 closed

[2021-06-15 17:54] tiziodcaio commented on #116
@Alecaddd Sorry I didn't want to irritate you... Otherwise, I think that the issue can stay closed due to gitbook still a valid platform.
Simply I wanted to propose to use vuepress to deploy the markdown guide, I can do it and sincerely sometimes is better than vuepress.
Bye and sorry for making this stupid beginner error.

[2021-06-28 05:46] ryanleesipes commented on #116
Hey @tiziodcaio it's actually a neat project. @Alecaddd has a good point, but I actually appreciate what you shared. Next time just let us know what you are proposing and why.

[2021-06-28 07:15] tiziodcaio commented on #116
Ok, so I can make an other issue more clear or modify this one...

[2021-06-28 17:55] Sancus commented on #116
I'm not really sure what the request here was? Vuepress just looks like a JS static site generator. It doesn't serve the same purpose as Git Book. And if we did want to change our documentation platform(we don't, right now), there would need to be quite a lot of other options considered first.

[2021-06-28 19:35] tiziodcaio commented on #116
Ok sure no problem ☺️

[2021-06-30 21:20] Liscare opened #119 ""Tips for making builds faster" link refers to the wrong page (Get Started guide)"
The link for "Tips for making builds faster." in [Make Your Build Faster](https://developer.thunderbird.net/thunderbird-development/building-thunderbird#make-your-build-faster) section refers to the [Get Started](https://developer.thunderbird.net/thunderbird-development/getting-started) section. This section doesn't talk about tips to build TB faster.
At least, the page [Tips and Tricks](https://d

[2021-07-08 07:57] opto opened #123 "wrong link to mozilla-central hg in build instructions?"

[2021-07-08 08:01] opto commented on #123
here:
https://github.com/thundernest/developer-docs/blob/master/thunderbird-development/building-thunderbird/windows-build-prerequisites.md

is this:  hg clone https://hg.mozilla.org/mozilla-central source/

giving a 404 on clone in several hg tools..

from here: https://hg.mozilla.org/
it looks like it means  hg clone https://hg.mozilla.org/mozilla-central/?

at least, tortoisehg and another hg t

[2021-07-08 08:35] jobisoft commented on #123
Opto, those are both the same urls. The "source/" part is the second parameter to the clone command.

[2021-07-08 16:32] ryanleesipes commented on #123
It's true @opto - the source part is the directory to clone the repo into.

[2021-07-08 16:32] #123 closed

[2021-07-21 00:05] Alecaddd opened #125 "Fixing a bug: Add parsable CSS test"
TIL that we have the `browser_parsable_css.js` test that checks for any typos or mistakes in our CSS files.
This test runs whenever we push something to the server but it can also run locally.
We should add a section in the "Fixing a bug" page recommending running this test locally whenever a CSS file is changed.

[2021-07-26 17:23] eyalroz opened #126 "TB 78->91 page missing: Change of subfolder attribute of nsIMsgFolder"
This happened before TB 86:

https://bugzilla.mozilla.org/show_bug.cgi?id=1682941

Now, the [the TB 78->91 changes page](https://developer.thunderbird.net/add-ons/updating/tb91/changes) does mention a change to nsIMsgFolder.subFolders - but not the correct change. The change isn't abandoning nsISupportsArray in favor of a JS array, but rather replacing nsISimpleIterator with nsIArray.

See also #1

[2021-07-26 17:28] eyalroz opened #127 "TB 78->91 page missing: message copy service method name change"
The nsIMessageCopyService interface has had methods renamed to start with lowercase letters:

https://bugzilla.mozilla.org/show_bug.cgi?id=1715433

and while the service is mentioned on the [TB 78->91 page](https://developer.thunderbird.net/add-ons/updating/tb91/changes), that's only in context of the switch to JS arrays.

Was a full pass made over the mercurial log to make sure all the changes co

[2021-07-26 19:07] jobisoft commented on #126
I rephrased that section. I made it clear that subFolders now returns a simple array.

[2021-07-26 19:07] #126 closed

[2021-07-26 19:14] jobisoft commented on #127
I added an extra section to cover the rename.

I did spend a huge amount of time searching for changes, but doing a full pass over the mercurial log and finding all relevant changes for add-on authors is not something I am capable of doing. I would not have time for other tasks. In general, we document changes as we encounter them or if someone is informing us.

I did not know of the other renames

[2021-07-26 20:51] eyalroz commented on #127
Fair enough, no complaint here.

However... if that doesn't happen, then developers making commits change APIs could conceivably mark them, or perhaps mark the relevant Bugzilla pages, to notify you to have a look for writing the update page for the next release. That should not be a significant burden for them, on one hand, and would lesser the load on you, on the other.

[2021-07-26 21:30] eyalroz commented on #126
@jobisoft : It's an `nsIArray`... is that always interpreted as a plain JS array?

[2021-07-26 21:51] jobisoft commented on #126
For the JS interface it is an array:
https://searchfox.org/comm-central/source/mailnews/base/public/nsIMsgFolder.idl#667

Or is it not?

[2021-08-02 15:48] freaktechnik commented on #68
@clokep I think this is done now, right?

[2021-08-02 15:48] Endle commented on #119
This issue seems to be still unresolved.
On the page https://developer.thunderbird.net/thunderbird-development/building-thunderbird

The section `Follow this guide to rely on sccache and other Tips for making builds faster.` points to these two links
https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/Build_Instructions/ccache
https://developer.mozilla.org/en-US/docs/Mozilla/Developer

[2021-08-03 11:33] clokep commented on #68
It is! I didn't realize an issue had gotten filed! 🎉

You can find the updated docs at https://developer.thunderbird.net/thunderbird-development/codebase-overview/chat

(I can't seem to close issues on this repo so whoever can please close this!)

[2021-08-16 10:43] #68 closed

[2021-08-24 19:43] rugk opened #131 "Where can I get the "Get add-on" download badge/button/image for promoting an extension?"
For Firefox we have a download badge [e.g. now on this page](https://extensionworkshop.com/documentation/publish/promoting-your-extension/):

Three years ago [I asked for this on Discourse](https://discourse.mozilla.org/t/get-download-addon-for-firefox-badge-button-to-embed-into-website/28162?u=rugkx) and [on GitHub](https://github.com/FirefoxUX/photon/issues/301).

However, where I can find the s

[2021-09-02 19:54] lieser opened #132 "applications key missing in Supported Manifest Keys"
The `applications` is mentioned in https://developer.thunderbird.net/add-ons/mailextensions#basic-extension-properties, but is missing in https://developer.thunderbird.net/add-ons/mailextensions/supported-manifest-keys, which from my understanding should list **all** supported keys.

[2021-09-29 13:09] dillenger opened #134 "Typo on Adapt to Changes in Thunderbird 69-78 page"
In the `<textbox>` paragraph on https://github.com/thundernest/developer-docs/blob/master/add-ons/updating/tb78/changes.md
`<script src="chrome://global/content/editMenuOverlay.js.js"/>`
should be
`<script src="chrome://global/content/editMenuOverlay.js"/>`

[2021-09-29 14:11] jobisoft commented on #134
Thanks for reporting. Fixed.

[2021-09-29 14:11] #134 closed

[2021-09-29 14:16] #127 closed

[2021-09-29 14:21] jobisoft commented on #65
All of that is listed on DTN. Reopen, if we missed one.

[2021-09-29 14:21] #65 closed

[2021-12-11 23:13] MadMattAu opened #137 "Support header link on developer.thunderbird.net is not really appropriate for the audience."
I hope this is the right location for this.

I have just noticed that the developer.thunderbird.net support site has a header pointing to https://support.mozilla.org/en-US/products/thunderbird

Given the audience of the site it is probably more relevant to point this link to a page showing addon and developer links,  not general 8user support.  perhaps https://developer.thunderbird.net/add-ons/com

[2022-06-29 12:37] seanhly opened #146 "Building thunderbird from the manual no longer appears possible for general users"
Hi there,

Thanks so much for your work documenting Thunderbird developer processes.
I was excited this morning to read about the new changes in Thunderbird 102.
However, when I attempted to build the binary from the mercurial package, I found that the instruction manual for building Thunderbird is no longer of much use to project outsiders.  For reference: https://developer.thunderbird.net/thunde

[2022-06-29 13:33] seanhly commented on #146
Sorry, I forgot to mention my OS: no I'm using Ubuntu, and attempting to install via the mercurial repository.  The main issue I'm facing is that I cannot find the install command referred to as `./mach` in the developer guides.

[2022-06-29 13:42] jobisoft commented on #146
On Windows, one has to install the MozillaBuild package, but on Linux that should not be needed. I will see what I can do.

[2022-06-29 16:53] seanhly commented on #146
I downloaded the Thunderbird repository via `hg clone https://hg.mozilla.org/comm-central/`, which doesn't appear to contain `./mach`.  I checked on an old commit from a few months back, and it wasn't there either, so maybe `mach` has always been absent from `comm-central`, and devs have been copying it over from another `mozilla-central` repository in order to actually build Thunderbird?  Maybe `

[2022-06-29 17:11] leftmostcat commented on #146
As per https://developer.thunderbird.net/thunderbird-development/getting-started, you'll need the `mozilla-central` repository in order to build Thunderbird. `comm-central` does not contain everything that's needed.

[2022-06-29 17:39] jobisoft commented on #146
There is already an ongoing rework for the getting started page, but we had to focus our resources on the Thunderbird 102 release, so the rework project got a little left behind. I think we will finish it next week.

[2022-07-19 08:29] Frederick888 opened #147 "Request: Document native manifest JSON location"
I was redirected from [1].

Due to [2], the user-local native manifest location is different from
Firefox as documented in [3][4] under macOS.

At the moment this piece of info is very obscure. I was working on an
MailExtension which leveraged native messaging and Thunderbird just kept
complaining 'No such native application xxx' no matter where I put the
manifest file.

I ended up having to downl

[2022-08-23 17:47] jfx2006 opened #148 "Try-c-c push instructions should not include an -f argument"
Rev 8af8f354214e57ca7a260c9c401d4a0da0f7fde3 needs to be backed out.

As explained here: https://github.com/thundernest/developer-docs/commit/8af8f354214e57ca7a260c9c401d4a0da0f7fde3#commitcomment-81964781

Using the `-f` argument to `hg push`pushes all new heads on all branches. Try-c-c happily accepts that push (unlike comm-central and friends). However, Taskcluster automation doesn't handle pus

[2022-08-23 20:30] #148 closed

[2022-10-29 06:56] xmasmc opened #151 "AddOn example calling a batch program"
Hello,
I hope this example AddOn will help other developer.

https://github.com/xmasmc/Thunderbird-102-AddOn-Example

Regards
Helmut

[2022-10-29 07:09] jobisoft commented on #151
I am trying to constantly improve our documentation, which lives here:
https://developer.thunderbird.net/add-ons/mailextensions

We also have a couple of example extensions:
https://github.com/thundernest/sample-extensions
(linked here: https://developer.thunderbird.net/add-ons/resources)

Could you point out where our documentation was insufficient, where you struggled to find the information you

[2022-10-29 07:12] jobisoft commented on #151
Instead of using an experiment to call an external batch file, the suggested solution is to use native messaging (which does not require the "full access permission", which users are very much afraid of):
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Native_messaging

I could indeed add an example to our example repo.

[2022-10-29 08:07] xmasmc commented on #151
I made an AddOn only for private use, for my company, so the permission is not the problem.
We use the plugin for incoming mail orders, to call our own database application. which opens automatically the customer data for writing an invoice. Additional I analyse the mail body and extract all our part numbers to add them automatically to the invoice.
I made this AddOn 2018/19 for TB68 and I needed

[2022-10-29 08:44] jobisoft commented on #151
You can use enterprise policies to distribute the configuration to all your clients (including the app, I think)

Which one? I checked most of them. If they are broken, this would indicate a serious issue with our APIs in 102.

This is whatever content type the current mime part has and it is independent of Thunderbird. I will update the doc to be more verbose.

That should be the body member (doc

[2022-10-29 08:51] jobisoft commented on #151
You mime part analysis code however looks like it could be very helpful. Can I use that to build an example add-on for our repo?

[2022-10-29 13:49] xmasmc commented on #151
I made an AddOn only for private use, for my company, so the permission is not the problem.
We use the plugin for incoming mail orders, to call our own database application. which opens automatically the customer data for writing an invoice. Additional I analyse the mail body and extract all our part numbers to add them automatically to the invoice.
I made this AddOn 2018/19 for TB68 and I needed

[2022-10-29 13:52] xmasmc commented on #151
For shure you can use everything you want, the original source code was from the AddOn read_aloud_a_text_to_speech_voice_reader-1.59.1-tb  /js/document.js
I modified for my example